@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

  :root {
    --primary-color: #0070f3;
    --secondary-color: #1a1a1a;
    --third-color: #333333;
  }


body {
 margin: 0;
  padding: 0;
}
.container {
    margin: 0;
    padding: 0;
    background-image: url('/img/bg-home.png');
    background-size: cover;
  } 

 h1{
  font-size: 28px;
  font-weight: 900;
 }

 .city{
  font-size: 20px;
  font-weight: 700;
 }

 .info{
  color:#ffffff;
  opacity: 100%;
  font-size: 14px;
  font-weight: 400;
 }
 .filter-white{
    filter: brightness(0) invert(1);
 }

 .bubble{
  border-radius: 50px;
  padding: 10px 20px;
 }
 .halo-small {
  box-shadow:
    inset -4px -4px 4px .5px rgba(255,255,255,0.55), /* top right, strong white */
    inset 8px 8px 4px .5px rgba(157, 187, 204, 0.1);    /* bottom left, soft blue */
    border-radius: .5rem;
}

 .halo-big {
  box-shadow: inset 0 0 4px 2px rgba(255,255,255,0.5), inset 0 0 48px 16px rgba(0,160,255,0.10);
  border-radius: .5rem;
}

 section{
  margin-bottom: 1rem;
 }